body{
  margin:0;
  font-family:'Poppins', Arial;
  background: linear-gradient(135deg,#0b1220,#111827);
  color:white;
  scroll-behavior:smooth;
}

/* NAV */
nav{
  display:flex;
  justify-content:space-between;
  padding:15px 20px;
  background:rgba(0,0,0,0.6);
  position:sticky;
  top:0;
  backdrop-filter:blur(12px);
}

nav a{
  color:white;
  margin:0 10px;
  text-decoration:none;
  transition:0.3s;
}

nav a:hover{
  color:#06b6d4;
}

/* HERO */
.hero{
  text-align:center;
  padding:140px 20px;
  background:linear-gradient(135deg,#4f46e5,#06b6d4);
}

.hero h1{
  font-size:42px;
}

/* BUTTON */
button{
  padding:12px 25px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  background:#111827;
  color:white;
  transition:0.3s;
}

button:hover{
  transform:scale(1.05);
  background:#1f2937;
}

/* SECTIONS */
.section{
  padding:80px 20px;
  text-align:center;
}

.dark{
  background:#0f172a;
}

/* GRID */
.grid{
  display:flex;
  gap:20px;
  justify-content:center;
  flex-wrap:wrap;
}

.card{
  background:rgba(255,255,255,0.08);
  padding:20px;
  border-radius:12px;
  width:180px;
  transition:0.3s;
  backdrop-filter:blur(10px);
}

.card:hover{
  transform:translateY(-10px);
  background:rgba(255,255,255,0.15);
}

/* FORM */
input{
  display:block;
  margin:10px auto;
  padding:12px;
  width:260px;
  border-radius:8px;
  border:none;
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  background:black;
}

/* ANIMATION */
.reveal{
  opacity:0;
  transform:translateY(40px);
  transition:1s;
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}
